/* Some styles for text */
h1 {
    font-family: Chalkduster, fantasy;
}
h2, h3, p {
    font-family: Verdana, sans-serif;
}

.small {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 60%;
}

/* Text Box attributes */
.textinput {
    width: 600px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
}

/* Scroll Box attributes */
.scrollabletextbox {
    background-color: #B6D0E2;
    height: 330px;
    width: 670px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 110%;
    overflow:scroll;
}
